<!-- homepage.component.html -->

<div class="homepage-container">
    <h2>Welcome to the Homepage</h2>
    <p>Click on the links below to navigate to different components:</p>
  
    <ul>
      <!-- Link to Student Component -->
      <li><a routerLink="/student">Go to Student Component</a></li>
  
      <!-- Link to Teacher Component -->
      <li><a routerLink="/teacher">Go to Teacher Component</a></li>
  
      <!-- Link to School Component -->
      <li><a routerLink="/school">Go to School Component</a></li>
    </ul>
  </div>
  