<div class="teacher-container">
    <h2>Welcome to the teacher Page</h2>
    <p>Explore the following links related to teacher activities:</p>
  
    <ul>
      <!-- Link to Teacher Profile -->
      <li><a routerLink="/teacher/profile">View teacher Profile</a></li>
  
      <!-- Link to Courses -->
      <li><a routerLink="/teacher/courses">Explore Courses</a></li>
  
      <!-- Link to Grades -->
      <li><a routerLink="/teacher/grades">View Grades</a></li>
    </ul>
  </div>
  <br>
<div class="teachername-container">
    <label for="teacherName">teacher Name:</label>
    <input type="text" id="teacherName" [(ngModel)]="teacherName" />
    <button (click)="addTeacher()">Add Teacher</button>
</div>
  